{{- $json := newScratch -}}
{{- $json.Set "@type" "BreadcrumbList" -}}
{{- $json.Set "@id" .Context.Id -}}
{{- $json.Set "itemListElement" slice -}}
{{- with .Context.Items -}}
    {{- range $index, $item := sort . "position" -}}
        {{- with $page := site.GetPage $item.pageRef -}}
            {{- $json.Add "itemListElement" (dict "@type" "ListItem" "position" (add $index 1) "name" (or $item.title $page.Title) "url" $page.Permalink) -}}
        {{- end -}}
    {{- end -}}
{{- else -}}
    {{- with site.GetPage "/" -}}
        {{- $json.Add "itemListElement" (dict "@type" "ListItem" "position" 1 "name" .Title "url" .Permalink) -}}
    {{- end -}}
    {{- if .Page.IsPage -}}
        {{- $json.Add "itemListElement" (dict "@type" "ListItem" "position" 2 "name" .Page.Title "url" .Page.Permalink) -}}
    {{- end -}}
{{- end -}}
{{- return $json.Values -}}