{{- $sameAs := slice -}}
{{- with site.Menus.social -}}
  {{- range . -}}
    {{- $sameAs = $sameAs | append .URL -}}
  {{- end -}}
{{- end -}}
{{- with .Context.SameAs }}{{ $sameAs = $sameAs | append . }}{{ end -}}
{{- with site.Params.sameAs }}{{ $sameAs = $sameAs | append . }}{{ end -}}
{{- with site.Params.jsonld.sameAs }}{{ $sameAs = $sameAs | append . }}{{ end -}}
{{- with .Page.Params.sameAs }}{{ $sameAs = $sameAs | append . }}{{ end -}}
{{- with .Page.Params.jsonld.sameAs }}{{ $sameAs = $sameAs | append . }}{{ end -}}
{{ return $sameAs }}