{{- $jsonLD := newScratch -}}
{{- $jsonLD.Set "@context" "https://schema.org" -}}
{{- $jsonLD.Set "@graph" slice -}}
{{- $config := newScratch -}}
{{- $graph := slice -}}
{{- if .Graph -}}
    {{- $graph = .Graph -}}
{{- else if .Page.Params.jsonld.graph -}}
    {{- if and (or (not (isset .Page.Params.jsonld "inheritGraph")) .Page.Params.jsonld.inheritGraph) site.Params.jsonld.graph -}}
        {{- $graph = site.Params.jsonld.graph | append .Page.Params.jsonld.graph -}}
    {{- else -}}
        {{- $graph = .Page.Params.jsonld.graph -}}
    {{- end -}}
{{- else if site.Params.jsonld.graph -}}
    {{- $graph = site.Params.jsonld.graph -}}
{{- else -}}
    {{- $graph = slice "WebPage" "WebSite" -}}
{{- end -}}
{{- range $graph -}}
    {{- $context := partial "head/json-ld/formatConfig.html" (dict "Page" $ "Config" .) -}}
    {{- $config.Set $context.Name $context -}}
{{- end -}}
{{- range $name, $context := sort $config.Values "weight" -}}
    {{- $template := printf "head/json-ld/%s.html" (or $context.Template $context.Name) -}}
    {{- if templates.Exists (printf "partials/%s" $template) -}}
        {{- $json := partial $template (dict "Page" $.Page "Config" $config "Context" $context "Name" $name) -}}
        {{- $jsonLD.Add "@graph" $json -}}
    {{- end -}}
{{- end -}}
<script type="application/ld+json">
    {{- /* Clean JSON LD data */ -}}
    {{ $jsonLD.Values | jsonify (dict "noHTMLEscape" true) | safeJS }}
</script>